/* Color classes */
.black {
	color:#000;	
}

.blue {
	color:#2c4c7f;	
}

.blue-lit {
	color:#9ad3dc;
}

.green {
	color:#007052;
}

.orange {
	color:#e0671e;
}

.red {
	color:#990000;	
}

.teal {
	color:#127696;
}

.white {
	color:#FFF;
}


.bg-black {
	background-color:#675c56;
}

.bg-white {
	background-color:#ffffff;
}

/* General classes */
.body_border {
	border:5px solid #f4f3df;
}

.right {
	float:right;
}

.shiftup {
	margin-top:-30px;
}

.shiftup_ex {
	margin-top:-33px;
}

.shift-tab {
	margin-left:-15px;
}

.tab {
	margin-left:25px;
}

.title {
	font-family:'Times New Roman', 'Times Roman';
	font-size:26px;
}

.small {
	font-size:13px;
}
.smaller {
	font-size:11px;
}

.padding {
	padding:13px;
}
.margin {
    margin-bottom: 3px;

}
