.top-bar ul > li.has-dropdown .dropdown {
	padding-top:10px;
}

.top-bar ul > li.has-dropdown .dropdown > li {
	text-align:left;
}

.top-bar a {
	color:white;
}

#home {
	margin-right:25px;
}

#shifting {
	margin-top:-30px;
}

#navigation li a:hover,
#navigation li.has-dropdown:hover,
#navigation li.has-dropdown li:hover a {
    background-color:#565149;
}

#navigation li.has-dropdown:hover li {
	padding-top:10px;
	padding-bottom:10px;
}

